doctype html
html
  head
    title My Site
    block scripts
    block style
  body
    <nav id="navigation">
        <ul id='nav'>
            <img src="/static/logo.jpg" alt="">
            <li><a href='/'>Home</a></li>
            <li><a href='/'>About</a></li>
            <li><a href='/contact'>Contact Us</a></li>
            <li><a href='/'>Services</a></li>    
            <li><a href='/'>Class Info</a></li>    
        </ul>
    </nav>
    block content
    block script
    <footer id="footer">
    <p>copyright in 2021 in jan month and  all right are reserved</p>
    </footer>
    
    