extends basic.pug



block style
 style 
  include ../static/index.css

block content 
    <section id="sectiona">
        <div id="centre">
        <h2>Enjoy dance with nem tomar</h2>
        <h4>dance is good for health and keep body <br><img src="/static/dc.jpg" alt=""></h4>
        </div>
    </section>
    <section id="mission">
     <h3>Our Mission</h3>
     <div id="rowpro">
     <div id="box1">Hip-Hop Dance <br><img src="/static/1.jpg" alt=""> <p>Dance with perfection and totally formal</p></div>
     <div id="box2">Tap Dance <br><img src="/static/Tap-Dance 2.jpg" alt=""> <p>Dance with perfection and totally formal</p></div>
     <div id="box3">Break Dance <br><img src="/static/Break-Dance 3.jpg" alt=""> <p>Dance with perfection and totally formal</p></div>
     </div>
    </section>

    <section id='sponsers'>
    <h3>Our Sponser</h3>
    <din id="sponser">
        <img src="/static/s1.jpg" alt="">
        <img src="/static/s2.jpg" alt="">
        <img src="/static/s3.jpg" alt="">
        <img src="/static/s4.jpg" alt="">
        <img src="/static/s5.jpg" alt="">
    </din>
    </section>
    
    
 
